.container {
    display: flex;
    height: 100vh;
}


.controls input {
    border: none;
}


.map-container {
    width: 100%;
    height: 10px;
}

.map {
    width: 80%;
    height: 100px;
}

.map-container {
    position: none;
    height: 350px;
}